:root{
    --background-color: rgb(157, 156, 156);
    --box-color: lightskyblue;
    --box-shadow-color: lightgray;
    --hover-color: rgb(67, 176, 243);
    --color: white;
}

* {
    margin: 0;
}

.choice-container {
    display: flex;
    border-radius: 4px;
    background-color: var(--box-color);
    /*add?
    min-width: 500px;
    */
    font-size: 100%; 
    text-align: left;
    padding: 10px;
    width: 200px;
    box-shadow: 3px 3px 3px lightgray;
    margin-bottom: 2px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px lightgrey;
    transform: scale(1.02);
    transition: transform 130ms;
    background-color: var(--hover-color);
}

.choice-prefix {
    margin-bottom: 2px;
    padding: 5px;
    color: navy;
}

.choice-text {
    padding: 5px;
    width: 100%;
}
/* what */
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

.correct {
    background: lightgreen;
}

.incorrect {
    background: red;
}

/* heads up display */

.hud-prefix {
    text-align: center;
    font-size: 100%;
}

.hud-main-text {
    text-align: center;
}

.hud-item {
    width: auto;
}

.progress-text {

}
