* {
    margin: 0;
}

.choice-container {
    display:flex;
    width: 1000px;
    border-radius: 4px;
    background-color: lightskyblue;
    /*add?
    min-width: 500px;
    */
    font-size: 1.4rem; 
    text-align: left;
    padding: 25px;
    width: 200px;
    box-shadow: 3px 3px 3px lightgray;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}



.choice-container:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px lightgrey;
    transform: scale(1.02);
    transform: transform 130ms;
}

.choice-prefix-A {
    margin-bottom: 10px;
}