:root{
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {

}

.container {
    background-color: rgb(157, 156, 156);
    color: lightskyblue;
    width: 1000px;
    max-width: 1500px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 100px;
}

.btn {
    background-color: lightskyblue;
    color: white;
    font-size: 1.4rem; 
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px lightgray;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;

}

/* have just in case? */
.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}